@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-default: #f3f3f3;
  --black-default: #1e2024;
  --black-extra-light: #32363b;
  --black-light: #23272b;
  --main: #feb633;
  --white: #ffffff;
}
